body {
  padding-top: 40px;
}
.flash {
  padding-top: 20px;
}
.lost_confirmation, .lost_password {
  padding-left: 20px;
}
.forceleft {
  display: inline;
}
pre.code {
  font-family: Courier;
  line-height: 1.25em;
}
div.splash {
  padding: 10px 0 20px;
}
p.splash {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.0em;
}
ul {
  margin: 20px 0 0 20px;
}
.q {
  color: #333;
  font-weight: bold;
}
.a {
  color: #666;
  padding: 0 0 15px 15px;
}
h5.preview {
  height: 18px;
  line-height: 18px;
}
