
.splash
  %p{ :class => 'splash' } Creating Apps is Fun.
  %p{ :class => 'splash' } Dealing with User Accounts isn't.

%h2 Learn about Vellup

%ul.unstyled
  %li.q What is Vellup?
  %li.a A hosted user account service.

  %li.q Is it right for me?
  %li.a Probably, if you want to skip the drudgery of user models and focus on fun development stuff.

  %li.q How much does it cost?
  %li.a It's free for now. If you like it, let us know. If you hate it, please don't tell our moms.

  %li.q When can I start?
  %li.a See those links at the top? Click the <a href='/signup'>Signup</a> link to get started.

  %li.q Where the heck?
  %li.a I'm not sure, but perhaps our <a href='/api'>API Documentation</a> will help.

  %li.q Do you store passwords in plaintext?
  %li.a Certainly not! We use the awesome <a href='https://github.com/codahale/bcrypt-ruby'>bcrypt-ruby</a> library from Coda Hale.

  %li.q Will you let me store custom user data?
  %li.a Absolutely! Each user object can store its own custom JSON object. Sites can define their own JSON Schema (draft 03). If the schema contains any <i>required</i> attributes, we'll validate the user data against your specification.

  %li.q That's cool and all, but can I pass validation errors back to my end user?
  %li.a Not quite yet, but that's our plan. Right now we just pass back a 400 status with the JSON message <i>&quot;Does not pass schema specification&quot;</i> that you'll need to intercept.

