!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title Vellup
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" }
  %body
    .container
      =yield

