
%form.form-stacked{ :method => "post", :action => "/login" }
  %fieldset
    .clearfix
      %label{ :for => "username" } Email
      .input
        %input{ :id => "username", :name => "username" }
    .clearfix
      %label{ :for => "password" } Password
      .input
        %input{ :id => "password", :type => "password", :name => "password" }
  .well
    %button{ :class => "btn primary", :type => "submit" } Login
