
%h1 Add Site

%form.form-stacked{ :class => "forceleft", :method => "post", :action => "/sites/add" }
  %fieldset
    .clearfix
      %label{ :for => "name" } Name
      .input
        %input{ :id => "name", :name => "name" }
  .well
    %button{ :class => "btn primary", :type => "submit" } Add New Site
