
%h1 Sites

%p
  %ul.unstyled
    - @sites.each do |site|
      %li
        %a{ :href => "/sites/#{site[:uuid]}" }
          = site[:name]

.well
  %a{ :class => "btn primary", :href => "/sites/add" } Add Site
