
%h2= "Site Dashboard (#{profile[:name]})"

%p Eventually we'll have usage data here.

%form.form-stacked{ :method => "post" }
  %fieldset
    %input{ :type => "hidden", :name => "_method", :value => "delete" }
  .well
    %button{ :class => "btn danger", :type => "submit" } Destroy Site
