
%h1 Dashboard for #{profile[:name]}

%p
  %a{ :class => "btn default", :href => "/sites/#{profile[:uuid]}/users" } View Users

%h2 Settings

%form.form-stacked{ :class => "forceleft", :method => "post" }
  %fieldset
    .clearfix
      %label{ :for => "name" } Site Name:
      .input
        %input{ :class => "xlarge", :id => "name", :name => "name", :value => profile[:name] }
    .row
      .span7
        .clearfix
          %label{ :for => "schema" } JSON Schema (user attributes):
          .input
            %textarea{ :class => "xlarge", :rows => 13, :id => "schema", :name => "schema" }
              = profile[:schema]
      - if !schema.empty?
        .span9
          %h5.preview Schema Preview:
          %pre.code
            :preserve
              #{schema}
  .well
    %input{ :type => "hidden", :name => "_method", :value => "put" }
    %button{ :class => "btn primary", :type => "submit" } Update Site

.well
  %form{ :class => "forceleft", :method => "post" }
    %input{ :type => "hidden", :name => "_method", :value => "delete" }
    %button{ :class => "btn danger", :type => "submit" } Destroy Site
