
- if view == "signup"
  %h2 Signup
- else
  %h2 Add User for #{site}

%form.form-stacked{ :class => "forceleft", :method => "post" }
  %fieldset
    .clearfix
      %label{ :for => "username" } Email
      .input
        %input{ :id => "username", :name => "username" }
    .clearfix
      %label{ :for => "password" } Password
      .input
        %input{ :id => "password", :type => "password", :name => "password" }
    .clearfix
      %label{ :for => "firstname" } Firstname
      .input
        %input{ :id => "firstname", :name => "firstname" }
    .clearfix
      %label{ :for => "lastname" } Lastname
      .input
        %input{ :id => "lastname", :name => "lastname" }
  .well
    - if view == "signup"
      %button{ :class => "btn primary", :type => "submit" } Signup for Vellup!
      %a.lost_confirmation{ :href => "/confirm" } Lost your confirmation Email?
    - else
      %button{ :class => "btn primary", :type => "submit" } Add User

