
- if view == "signup"
  %h1 Signup
- else
  %h1 Add User for #{site}
  %p Note that any users added using the web form will immediately be enabled and verified. If you wish to require validation by the user, you must use the <a href="/api">API</a>.

%form.form-stacked{ :class => "forceleft", :method => "post" }
  %fieldset
    .clearfix
      %label{ :for => "username" } Email
      .input
        %input{ :id => "username", :name => "username" }
    .clearfix
      %label{ :for => "password" } Password
      .input
        %input{ :id => "password", :type => "password", :name => "password" }
    - if view != "signup"
      .row
        .span7
          .clearfix
            %label{ :for => "custom" } User Attributes (JSON Schema):
            .input
              %textarea{ :class => "xlarge", :rows => 13, :id => "custom", :name => "custom" }

  .well
    - if view == "signup"
      %button{ :class => "btn primary", :type => "submit" } Signup for Vellup!
      %a.lost_confirmation{ :href => "/confirm" } Lost your confirmation Email?
    - else
      %button{ :class => "btn primary", :type => "submit" } Add User

