
- if :user_wants_to_change_password
  %h2 Change your Password

  %form.form-stacked{ :method => "post" }
    %fieldset
      .clearfix
        %label{ :for => "password1" } Password
        .input
          %input{ :id => "password1", :type => "password", :name => "password1" }
      .clearfix
        %label{ :for => "password2" } Password (again)
        .input
          %input{ :id => "password2", :type => "password", :name => "password2" }
    .well
      %button{ :class => "btn primary", :type => "submit" } Change Password

- else
  %h2 Need to Reset your Password?
    
  %form.form-stacked{ :method => "post", :action => "/reset-password" }
    %fieldset
      .clearfix
        %label{ :for => "username" } Username
        .input
          %input{ :id => "username", :name => "username" }
    .well
      %button{ :class => "btn primary", :type => "submit" } Reset Password
